header {
    background-color: rgb(139, 232, 0);
    align-content: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
}

body {
    background-color: rgb(90, 150, 1);;
}

#task_form {
    background-color: rgb(139, 232, 0);
    text-align: center;
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black;
    border-radius: 20px;
}

#task_form input {
    grid-column: 2;
    margin: 10px;
    text-align: center;
}

#task_form select {
    grid-column: 2;
    margin: 10px;
    text-align: center;
}

#task_form button {
    grid-column: 2;
    margin: 10px;
}

.category_section{
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: rgb(139, 232, 0);
    border: 2px solid black;
    border-radius: 20px;
}

.task_list {
    padding: 10px;
    margin: 10px;
    background-color: rgb(139, 232, 0);
    border: 2px solid black;
    border-radius: 20px;
}

.task_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.task_list .final_tasks {
    text-align: center;
    font-weight: bold;
    grid-column: 2;
}

.task_list .tasks {
    grid-column: 2;
    margin: 1px;
    margin-bottom: 15px;
    text-align: left;
    padding: 1px;
    
}

li {
    margin: 10px;
    font-size: 18px;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(144, 210, 238);
    list-style-type: none;
    padding: 10px;
    border-radius: 15px;
}
